<div (click)="onFavClicked($event)" [@clickAnimation]="isClicked"
  class="p-4 mb-2 rounded-lg container bg-white flex items-center w-full drop-shadow-lg hover:bg-slate-100 ">
  <div class="h-10 w-10 min-w-[36px] mr-2 mt-1px flex items-center">
    <ng-container *ngIf="logo !== ''; else progressSpinner">
      <img width="36" height="36" src="{{logo}}" alt="crypto logo">
    </ng-container>

    <ng-template #progressSpinner>
      <div class="animate-pulse bg-blue-300 rounded-full h-9 w-9"></div>
    </ng-template>
  </div>
  <div class="flex flex-col lg:flex-row items-start lg:items-center justify-between w-full min-w-[120px]">
    <div class="mr-2">
      <div class=" text-md/[18px] font-bold text-slate-500">
        <div>{{currencyPar}}</div>
      </div>
    </div>
    <div class="h-10 text-left lg:text-right text-slate-600 text-md/[18px] flex flex-col ">

      <div class=" flex items-center" [@growAnimation]="(wsPrice$ | async )">
        <div *ngIf="(wsPrice$ | async ) === null" class="h-[20px] w-[50px] animate-pulse rounded-lg bg-blue-200 mr-2">
        </div>
        {{((wsPrice$ | async ) |
        currency:'USD':'symbol-narrow':'1.2-4'
        )}} USD
      </div>

      <div class=" change-percent text-sm align-center" [ngStyle]="{color: change > 0 ? 'green' : 'red'}">
        {{change | percent: '1.1-2'}} 24h
      </div>
    </div>

  </div>

</div>
